html, body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  background: #FAFAFA; }

a {
  color: #4A90E2;
  -webkit-transition: color .2s;
  transition: color .2s;
}

a:hover {
  color: #FF139F;
  text-decoration: none;
}

#container {
  display: flex;
  height: 100%;
}

#cover {
  width: 100%;
  background: #2B303B;
  color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#profile {
  margin: 20px 0 0 0;
  border-radius: 100%;
  border: 2px solid #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

h1 {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 26pt;
  font-weight: bold;
}

#tags {
  margin: 0 auto 20px;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;
  max-width: 350px;
}

#cover #tags li {
  display: inline-block;
  border-radius: 3px;
  color: #0D81B6;
  background: #FFF;
  padding: 0.25em 0.5em;
  margin: 0.25em;
  text-shadow: none;
  font-size: 12pt;
}

#location {
  margin: 0 0 10px;
  padding: 0;
  font-size: 14pt;
}

#bio {
  text-align: center;
  color: #FFF;
}

#bio a {
  color: #FFF;
}

#body {
  font-size: 14pt;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  padding-right: calc(100% - 1200px);
}
  
#body p {
  margin: 0 0 1em 0;
}

#body .section {
  margin-bottom: 50px;
}

#body .section h3 {
  font-size: 18pt;
  margin: 0;
  display: inline-block;
}

#body .section .strap {
  padding: 0;
  margin: 0.5em 0;
  list-style: none;
}

.work-row {
  padding-bottom: 30px;
}

#body .section .strap li {
  display: inline-block;
  border-radius: 3px;
  color: #FFF;
  background: #0D81B6;
  padding: 0.25em 0.5em;
  margin: 0.5em 0.25em 0 0;
  text-shadow: none;
  font-size: 11pt; 
}

#body .section .strap li.time {
  color: #FF139F;
  border: 1px solid #FF139F;
  background: #FFF;
}

#body .section .strap li:first-child {
  margin-left: 0;
}
#body .section .strap li:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  #container {
    display: block;
  }
  #cover {
    max-width: 100%;
  }
  #body {
    padding: 50px 30px;
  }
}

@media (max-height: 1000px) {
  #body {
    display: block;
  }
}